@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  list-style: none;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px 20px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
}

.w-30 {
  width: 80%;
}
.box-w {
  width: 20em;
  border: 2px solid;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}

.bg-banner {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5844961c44024382e467cee4/1492632509702-RIXSQ91HLD8TCW94ABG7/mobile-fitness-bg.jpg");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.form-control {
  border-color: #000000;
}

/****************************************************************BUTTON****************************************************************/

.fl-button {
  background-color: #087d92;
  color: #fff;
  padding: 8px;
  border: none;
  text-align: center;
  height: fit-content;
  width: fit-content;
  font-weight: 400;
}

/************************************************************BANNER************************************************************/

.fl-banner-title {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
}

/*************************************************************MENU*************************************************************/

.logo {
  width: 20%;
  margin: 0;
}

/*************************************************************HOME*************************************************************/

.fl-homebanner-text {
  color: #fff;
}

.fl-testmonial h1 {
  font-size: 54px;
  font-weight: 700;
}

.testmonial-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/****************************************************************PRICING****************************************************************/

.fl-pricing-card {
  width: 350px;
  margin: auto;
}

.fl-pricing-plan {
  width: 60px;
  height: 30px;
  background-color: #0faac7;
  border-radius: 0px 0px 5px 5px;
  color: #fff;
  font-weight: 600;
}

.fl-pricing-card h1 {
  color: #24c385;
  font-weight: 700;
  font-size: 4rem;
}

.fl-pricing-card-spec li {
  margin-bottom: 20px;
  font-size: large;
}

/**************************************************************ABOUT US**************************************************************/

.fl-about-content h3 {
  color: #1693ab;
  font-size: 24px;
  font-weight: bold;
}
.fl-about-content h1 {
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 25px;
}
.fl-about-content p {
  text-align: justify;
}

.fl-aboutus-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 6px;
}

/**************************************************************SERVICES***************************************************************/

.fl-service-card {
  width: 240px;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

.fl-service-card:hover {
  color: #fff;
  background-color: #05dbf2;
}

.fl-service-card img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #d5f4f9;
  margin-bottom: 20px;
}

/****************************************************************TEAM****************************************************************/

.fl-team-card {
  width: 250px;
  height: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

.fl-team-card h5 {
  color: #0faac7;
  font-weight: bold;
}

.fl-team-card img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.fl-team-card img:hover {
  transform: scale3d(1.1, 1.1, 1);
  transition: transform 1s ease-in-out;
}

/************************************************************CALCULATOR***********************************************************/
.fl-calculator {
  padding-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

.fl-calculator .form-label {
  font-size: 24px;
  font-weight: 800;
}

.fl-calculator h3 {
  font-size: 26px;
  font-weight: 800;
  color: #0faac7;
}

.calculation-result h4 {
  font-size: 46px;
  font-weight: 800;
  color: #0faac7;
}

.calculation-result h5 {
  font-size: 36px;
  font-weight: 800;
  color: #000000;
}

.calculation-result img {
  height: 250px;
  width: 250px;
  margin-bottom: 30px;
}

.calculation-result .bmi-msg {
  font-size: 26px;
  font-weight: 600;
  color: #f90303;
}

/*************************************************************CONTACT*************************************************************/

.fl-contact-addresscard {
  height: 200px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

.fl-contact-addresscard icon {
  color: #05dbf2;
  font-size: 42px;
  font-weight: 800;
}

.map iframe {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}

.fl-contact-form input,
textarea {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
  height: 50px;
  border: 1px solid #a8a3a3;
}

textarea {
  height: 150px;
  border: 1px solid #a8a3a3;
}

.form-control:focus {
  border-color: #000000;
  box-shadow: none;
}

/****************************************************************SIGN IN****************************************************************/

.fl-signin h1 {
  color: #05dbf2;
}

.fl-signin-card {
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

/****************************************************************SIGN UP****************************************************************/

.fl-signup h1 {
  color: #1693ab;
}

.fl-signup-card {
  margin: auto;
  width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

/*************************************************************FORGOT PASSWORD***********************************************************/

.fl-forgotpassword h1 {
  color: #1693ab;
}
.fl-forgotpassword-card {
  margin: auto;
  width: 350px;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: #fff;
}

/***************************************************************FOOTER***************************************************************/
.footer {
  background-color: #092328;
  color: white;
  padding: 15px;
  bottom: 0;
}

.fullscreen {
  height: 100vh;
  min-height: 100%;
}
